
@font-face {
  font-family: 'BMJUA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#background{
  background:url(./images/background.png)no-repeat;
  background-position: 0 0;
  background-size:cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

#contents{
 /* border: 2px solid red; */
 background: rgba(255, 255, 255, 0.7);
border-radius: 26px;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
padding: 15px 0 40px;
 text-align: center;
 width: 36%;
 height: auto;
 min-width: 480px;
}

#contents .title{
  width: 67%;
}

#contents #result-area{
font-family: 'BMJUA';
font-size: 1.5vw;
color: #392e2a;
padding: 28px 0;
}

#contents  #input-container{
  border: 1px solid #c8c8c8;
  border-radius: 50px;
  width: 78%; 
  height: auto;
overflow: hidden;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
}

#contents  #user-input{
  /* border: 1px solid #b63535; */
  border: none;
  outline: none;
  font-size: 1em;
  padding: 10px 15px;
  border-radius: 50px;
  width: 65%;
  float: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}

#contents  #play-button{
  font-family: 'BMJUA';
  font-size: 1.3em;
  border: none;
  background-color: #fbe9d2; 
  color: #FF856C;
  width: 75px;
  float: right;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
} 

#contents #chanceContainer{
  font-family: 'BMJUA';
  font-size: 1.2vw;
  color: #494949;
  padding: 20px 0 40px;
  }

  #contents #chanceContainer span{
    font-size: 1.5vw;
    color: #FF856C;
    }

    #contents  #reset-button{
      font-family: 'BMJUA';
      font-size: 1.3em;
      border: none;
      background-color: #FF781F; 
      color: #fefefe;
      padding: 12px 25px;
      border-radius: 50px;
      cursor: pointer;
    } 


    @media (min-width:700px) and (max-width: 1439px) {
#background{
  /* border: 5px solid rgb(14, 223, 80); */
}
#contents{
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  padding: 15px 0 40px;
    width:520px;
  }
  #contents .title{
    width: 65%;
  }
#contents #result-area{
  font-size: 26px;
  padding: 28px 0;
  
  }

#contents  #input-container{
  width: 85%;
  padding: 8px;
}

#contents  #user-input{
  font-size: 20px;
  padding: 10px 15px;
  width: 78%;
}

#contents  #play-button{
  font-size: 26px;
  padding: 10px 20px;
} 

#contents #chanceContainer{
  font-size: 26px;
  color: #494949;
  padding: 30px 0 40px;
  }

  #contents #chanceContainer span{
    font-size: 26px;
    }

    #contents  #reset-button{
      font-size: 30px;
    }
    }


@media (min-width:520px) and (max-width: 699px) {
#background{
/* border: 5px solid rgb(6, 10, 237); */
}
#contents{
padding: 15px 0 40px;
  width:95%;
}
#contents .title{
  width: 60%;
}
#contents #result-area{
font-size: 25px;
padding: 28px 0;

}

#contents  #input-container{
width: 90%;
padding: 8px;
}

#contents  #user-input{
/* border:1px solid navy; */
font-size: 18px;
padding: 10px 8px;
width: 70%;

}

#contents  #play-button{
font-size: 24px;
padding: 10px 20px;
} 

#contents #chanceContainer{
font-size: 24px;
padding: 30px 0 40px;
}

#contents #chanceContainer span{
  font-size: 26px;
  }

  #contents  #reset-button{
    font-size: 26px;
  }
  }

@media (min-width:400px) and (max-width: 519px) {
#background{
/* border: 1px solid rgb(6, 10, 237); */
}
#contents{
padding: 30px 0 60px;
  width:100%;
  border-radius: 0;
}
#contents .title{
  width: 70%;
}
#contents #result-area{
font-size: 23px;
padding: 28px 0;

}

#contents  #input-container{
width: 77%;
padding: 8px;
}

#contents  #user-input{
/* border:1px solid navy; */
font-size: 17px;
padding: 10px 0px;
width: 67%;
float: none;
}

#contents  #play-button{
font-size: 23px;
padding: 10px 20px;
/* float: none; */
} 

#contents #chanceContainer{
font-size: 23px;
padding: 40px 0 50px;
}

#contents #chanceContainer span{
  font-size: 26px;
  }

  #contents  #reset-button{
    font-size: 23px;
  }
  }


  @media (min-width:300px) and (max-width: 399px) {
    #background{
    /* border: 1px solid rgb(6, 10, 237); */
    }
    #contents{
    padding: 30px 0 60px;
      width:100%;
      border-radius: 0;
    }
    #contents .title{
      width: 250px;
    }
    #contents #result-area{
    font-size: 20px;
    padding: 28px 0;
    
    }
    
    #contents  #input-container{
    width: 68%;
    padding: 6px;
    }
    
    #contents  #user-input{
    /* border:1px solid navy; */
    font-size: 14px;
    padding: 15px 0;
    width: 67%;
    float: none;
    }
    
    #contents  #play-button{
    font-size: 22px;
    padding: 10px 20px;
    /* float: none; */
    } 
    
    #contents #chanceContainer{
    font-size: 20px;
    padding: 40px 0 50px;
    }
    
    #contents #chanceContainer span{
      font-size: 26px;
      }
    
      #contents  #reset-button{
        font-size: 20px;
      }
      }